[submodule "NewPipeExtractor"]
	path = NewPipeExtractor
	url = git@github.com:InfinityLoop1309/NewPipeExtractor.git
	branch = main
[submodule "NewPipeEnhanced-client"]
	path = NewPipeEnhanced-client
	url = git@github.com:InfinityLoop1309/NewPipeEnhanced-client.git
	branch = dev
