[submodule "NewPipeWithMoreServices-client"]
	path = NewPipeWithMoreServices-client
	url = git@github.com:InfinityLoop1309/NewPipeWithMoreServices-client.git
    branch = dev
[submodule "NewPipeExtractor"]
	path = NewPipeExtractor
	url = git@github.com:InfinityLoop1309/NewPipeExtractor.git
    branch = main
