[submodule "NewPipeExtractor"]
	path = PipePipeExtractor
	url = https://codeberg.org/NullPointerException/PipePipeExtractor.git
	branch = main
[submodule "NewPipeEnhanced-client"]
	path = PipePipeClient
	url = https://codeberg.org/NullPointerException/PipePipeClient.git
	branch = dev
[submodule "PipePipe.wiki"]
    path = PipePipe.wiki
    url = git@github.com:InfinityLoop1308/PipePipe.wiki.git
    branch = main
[submodule "PipePipeClient"]
	path = PipePipeClient
	url = git@github.com:InfinityLoop1308/PipePipeClient.git
[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = git@github.com:InfinityLoop1308/PipePipeExtractor.git
